<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  
  
  <title>cook</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/tether/tether.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap-grid.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap-reboot.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/theme/css/style.css')}}">
  <link rel="preload" as="style" href="{{url_for('static', filename='assets/mobirise/css/mbr-additional.css')}}"><link rel="stylesheet" href="{{url_for('static', filename='assets/mobirise/css/mbr-additional.css')}}" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="video4 cid-soZvphMCkN" id="video4-r">
    
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="title-wrapper mb-5">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-1">
                <strong>Valentines CookFest</strong></h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/lMShtqzZ0Zo?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                <p class="mbr-description pt-2 mbr-fonts-style display-4"></p>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-2">
                        <strong>Valentines Dessert</strong></h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Hack Your Way to Romance with These Cute Valentine's Day Desserts! So Yummy</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video5 cid-soZvpAhP2W" id="video5-s">
    
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="title-wrapper mb-5">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-1">
                <strong>Valentines Cookfest</strong></h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/kiLoWNNy--M?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                <p class="mbr-description pt-2 mbr-fonts-style display-4"></p>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mb-3 display-2">
                        <strong>More Recipes</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Check out these 5 yummy recipes to try this Valentine's Day!</p>
                </div>
            </div>
        </div>
    </div>
</section>
  
  
</body>
</html>