<!DOCTYPE html>
<html  >
<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  
  <meta name="description" content="">
  
  
  <title>songs</title>
<link rel="stylesheet" href="{{url_for('static', filename='assets/tether/tether.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap-grid.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap-reboot.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/theme/css/style.css')}}">
<link rel="preload" as="style" href="{{url_for('static', filename='assets/mobirise/css/mbr-additional.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/mobirise/css/mbr-additional.css')}}" type="text/css">
  
</head>
<body>
  
  <section class="header11 cid-soZowQlAif" id="header11-m">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 image-wrapper">
                <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapershome.com%2Fholidays%2Fvalentines-day-love-image-heart-red-4k-17510.html&psig=AOvVaw0tyql92-YK_8Ya5qWlR1H9&ust=1613385914346000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCND50ISZ6e4CFQAAAAAdAAAAABAD"></a>
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper text-center">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                        <strong>Valentine Songs</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7"></p>
             
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video3 cid-soZpNMhdHQ" id="video3-n">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Romantic Songs</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-0 mt-2 display-7"></h5>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/fM5JhO_Fq_E?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                
            </div>
            <div class="col-12 col-md-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/1VT6gA6D5Bk?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                
            </div>
        </div>
    </div>
</section>  
  
  
</body>
</html>